html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
    background-color: #ffffff;
}

body {
    margin: auto 5%;
    padding: 0;
    height: 100%;
    font-family: 'Fira Code', monospace;
    line-height: 1.6;
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
}
nav {
    font-size: 1.3rem;
}
p {
    font-size: 1.1rem;
}
ul {
    font-size: 1.1rem;
}

.writing-list {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.writing-list-style {
    padding: 0;
    font-family: 'Fira Code', monospace;
    line-height: 2.0;
    list-style-type: none;
    text-align: left;
}

.writing-list-style a {
    color: #000;
    /* text-decoration: none; */
}

.writing-list-style a:hover {
    text-decoration: underline;
}

/* Header styling */
header {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    text-align: left;
    font-family: 'Fira Code', monospace;
}

header a,
header a:visited,
header a:hover {
    color: black;
    text-decoration: none;
}

header nav a,
header nav a:visited,
header nav a:hover {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.framily-image {
    display: block;
    margin: 20px 0;
    margin-left: 0;
    max-width: 100%;
    height: auto;
}