body, html {
    margin: auto 5%;
    padding: 0;
    height: 100%;
    font-family: 'Fira Code', monospace;
    line-height: 1.6;
    background-color: #ffffff;
}

/* Header styling */
header {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    text-align: left;
    font-family: 'Fira Code', monospace;
}

header a,
header a:visited,
header a:hover {
    color: black;
    text-decoration: none;
}

header nav a,
header nav a:visited,
header nav a:hover {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.framily-image {
    display: block;
    margin: 20px 0;
    margin-left: 0;
    max-width: 100%;
    height: auto;
}