{{template "layouts/header" .}}

<p>
    Hello! My name is Ian, as I'm sure you've determined if you made it to this page.
    I'm located in San Francisco where I love to ride my bike and spend time outdoors
    with my partner and dog.
</p>
<p>
    For work, I'm currently a software engineer at Manifold.ai focusing on platform
    engineering. Here are links to my <a href="https://www.linkedin.com/in/ian-myjer/">LinkedIn</a>,
    <a href="https://github.com/enmyj">GitHub</a>, and <a href="mailto:ian@ianmyjer.com">email</a>
</p>